html
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Raleway";
	color: white;
	background-image: url("../imgs/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navbar
{
	background-color: black !important;
	position: fixed;
	width: 100%;
	z-index: 5;
}

.navbar-brand img
{
	width: 35px;
	height: 30px;
	margin-right: 10px;
	display: inline-block;
}

.nav-item .nav-link
{
	color: white !important;
}

.layer
{
	background: rgba(27, 27, 28, 0.85);
	width: 100%;
	height: 100%;
}

.container
{
	padding-top: 2px;
	height: 100%;
}

#header
{
	padding: 16% 10% 16% 10%;
}

#about,#whyus,#contact,#oems
{
	padding-top: 7%;
}

.fa
{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 47%;
	color: white;
	font-size: 40px;
}

.info
{
	padding-top: 5%;
	font-size: 1em;
}

#contact .info
{
	padding-top: 0;
	height: 60%;
}

form
{
	width: 50%;
}

.btn.btn-primary
{
	background: green;
}

.copyright
{
	margin-top: 5%;
}